button {
    border: none;
    background: #E3E4E7;
    color: #3B3D42;
    font-weight: bold;
    height: 40px;
    margin-bottom: 4px;
    border-radius: 7px;
    width: 87px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

h1 {
    display: flex;
    justify-content: center;
}

button:hover {
    background: #B5B7BB;
}

.taches {
    display: flex;
    justify-content: center;
}

#envoi {
    margin-left: 85px;
}

input {
    width: 500px;
    border-radius: 7px;
    height: 40px;
}


* {
    box-sizing: border-box;
}


img {
    width: 23px;
}

.delete {
    border-radius: 30px;
    width: 43px;

}

ul {
    list-style: none;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    margin-bottom: 23px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
    display: flex;
    align-items: center;
    width: 599px;
    padding-left: 20px;
}
 /* Mobile */
@media screen and (max-width: 844px) {
    #inp {
        width: 135%;
        margin-right: 23px;
        margin-top: 20px;
    }

    li {
        width: 312px;
        margin-right: 30px;
    }

    #envoi {
        margin-top: 20px;
    }

    .taches {
        padding-left: 14px;

    }
    ul {
        margin-right: 18px;
    }
}




.categories {
    display: flex;
    justify-content: center;
    display: none;

}

.delete-button {
    border-radius: 30px;
    margin-left: -37px;
    width: 40px;
    position: sticky;
    left: 1988px;
    bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.dark-theme {
    border-radius: 20px;
    width: 44px;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*color: #E3E4E7;*/
}


.dark-mode {
    background-color: black;
    color: white;
}







