button {
    border: none;
    background: #E3E4E7;
    color: #3B3D42;
    font-weight: bold;
    height: 40px;
    margin-bottom: 4px;
    border-radius: 7px;
    width: 87px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

h1 {
    display: flex;
    justify-content: center;
}

button:hover {
    background: #B5B7BB;
}

.taches {
    padding-top: 20px;
    padding-left: 505px;
}

#envoi {
    margin-left: 85px;
}

input {
    width: 500px;
    border-color: blue;
}


* {
    box-sizing: border-box;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
    border-radius: 3px;
    overflow: hidden;
}

.inp .label {
    position: absolute;
    top: -5px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.inp input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 37%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.inp input:not(:-ms-input-placeholder) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077FF;
}

.inp input:focus + .label {
    color: #0077FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

img {
    width: 23px;
}

.delete {
    border-radius: 30px;
    width: 43px;

}

ul {
    list-style: none;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    margin-bottom: 23px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
    display: flex;
    align-items: center;
    width: 599px;
    padding-left: 20px;
}
 /* Mobile */
@media screen and (max-width: 844px) {
    #inp {
        width: 61%;
        margin-right: 23px;
    }

    li {
        width: 312px;
        margin-right: 30px;
    }

    #envoi {
        margin-left: 0;
        margin-top: 20px;
    }

    .taches {
        padding-left: 14px;

    }
    ul {
        margin-right: 18px;
    }
}

/*@media screen and (max-width: 1044px) {*/
/*    .taches {*/
/*        position: relative;*/
/*        left: 102px;*/
/*    }*/
/*}*/


.categories {
    display: flex;
    justify-content: center;
    display: none;

}

.delete-button {
    border-radius: 30px;
    margin-left: -37px;
    width: 40px;
    position: sticky;
    left: 1988px;
    bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.dark-theme {
    border-radius: 20px;
    width: 44px;
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*color: #E3E4E7;*/
}


.dark-mode {
    background-color: black;
    color: white;
}







